body {background-color: coral;}

h1{
    border: 30px solid rgb(15, 210, 245);
}

.lead{
    font-weight: bold;
    font-size: 1.1rem;
    font-style: italic;
}

p{
    color: blue;
}

h3{
    color: aqua;
}

.aside{
    color: chartreuse;
    font-family: Georgia, 'Times New Roman', Times, serif;
}